{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        <li><a href="javascript:void(0)"><img src="{% static 'images/fb.svg' %}" alt="..."></a></li>
        <li><a href="javascript:void(0)"><img src="{% static 'images/insta.svg' %}" alt="..."></a></li>
        <li><a href="javascript:void(0)"><img src="{% static 'images/twitter.svg' %}" alt="..."></a></li>
        <li><a href="https://github.com/alok-techqware/About_me"><img src="{% static 'images/download.jpg' %}" alt="..."></a></li>
        <li><a href="https://www.linkedin.com/in/alok-kumar-kaushal-a07402100/"><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
        </ul>
        <div class="copyrightCol">
            <p>Copyright ©{% now 'Y' %} All rights reserved. Designed by <a href="https://github.com/alok-techqware/About_me" target="_blank">Alok Kumar Kaushal</a></p>
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->